<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= @post.title %></h5>
    <em class="blog-post-meta">
        <%= 
          createdAt = Date.parse(@post.created_at.to_s) 
          createdAt.day.to_s + "." + createdAt.month.to_s + "." + createdAt.year.to_s
        %>
    </em>
    <p class="card-text"><%= @post.content %>...</p>           
  </div>
</div>    
<br>
<div class="btn-group">   
  <% if user_signed_in? %>
    <%= link_to 'Править', edit_post_path(@post), :class => "btn btn-sm btn-outline-info" %>
    <%= link_to "Удалить", post_path(@post), method: :delete, data: { confirm: 'Вы уверены, что хотите удалить эту новость?' }, :class => "btn btn-sm btn-outline-danger" %>
  <% end %>
  <%= link_to 'Назад', posts_path, :class => "btn btn-sm btn-outline-secondary" %>   
</div>